<!doctype html>
<html lang="zxx">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>TeleMedicine</title>
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="" />
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <!--owl carousel css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/custom-bootstrap-margin-padding.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.min.css">
    <!--magnific popup css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">
    <!--icomoon css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/icomoon.css">
    <!--icofont css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/icofont.min.css">
    <!--animate css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
    <!--main css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Yatra+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <!--Start Preloader-->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell align-middle">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>
    <!--End Preloader-->
    <!--start header-->
    <header id="header">
        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="">Helpline Number : Dial 104</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="">Ambulance Number : Dial 108</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-10 pb-10">
            <div class="container">
                <nav class="navbar navbar-expand-lg p-0">
                    <!-- Logo -->
                    <a class="logo" href="#"><h4 class="header_logo">Tele<span class="theme_color_2">Medicine</span></h4></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"><i class="icofont-navigation-menu"></i></span>
                    </button>
                    <!-- navbar links -->
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">ऑनलाइन चिकित्सा परामर्श</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">सैंपल कलेक्शन की सुविधा</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">अस्पतालों में ऑनलाइन पंजीयन सुविधा</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">दवाइयों की घर पहुच सेवा</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white btn btn-danger p-10 pt-5 pb-5 radius_btn" href="#LogIn_popup" data-toggle="modal">Login/Signup</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--end header-->
    <!--start home area-->
    <section id="home-area">
        <div class="container">
            <div class="text-center mb-20">
                <h2 class="text-white">तुन्हर हाथ तुन्हर स्वास्थ्य मिलही एक क्लिक म डॉक्टर</h2>
            </div>
            <div class="row">
                <!--start caption content-->
                <div class="col-md-12">
                    <div class="home-carousel owl-carousel">
                        <!--start testimonial single-->
                        <div class="item">
                            <img src="~/assets/images/slider/slider-1.jpg" width="100%">
                        </div>
                        <div class="item">
                            <img src="~/assets/images/slider/slider-1.jpg" width="100%">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--end home area-->
    <!--start feature area-->
    <section id="feature-area" class="feature-area-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                    <div class="section-heading text-center">
                        <h2>टेलीमेडिसिन की सेवाएँ </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--start feature single-->
                <div class="col-lg-3 col-md-6">
                    <div class="feature-single text-center">
                        <div class="icon">
                            <img src="~/assets/images/icons/service-1.png" width="100%">
                        </div>
                        <h2 class="theme_color_2 counting font-weight-700" data-count="4545">0</h2>
                        <h4>ऑनलाइन चिकित्सा परामर्श</h4>
                    </div>
                </div>
                <!--end feature single-->
                <!--start feature single-->
                <div class="col-lg-3 col-md-6">
                    <div class="feature-single text-center">
                        <div class="icon">
                            <img src="~/assets/images/icons/service-2.png" width="100%">
                        </div>
                        <h2 class="theme_color_2 counting font-weight-700" data-count="445">0</h2>
                        <h4>सैंपल कलेक्शन की सुविधा </h4>
                    </div>
                </div>
                <!--end feature single-->
                <!--start feature single-->
                <div class="col-lg-3 col-md-6">
                    <div class="feature-single text-center">
                        <div class="icon">
                            <img src="~/assets/images/icons/service-3.png" width="100%">
                        </div>
                        <h2 class="theme_color_2 counting font-weight-700" data-count="5454">0</h2>
                        <h4>अस्पतालों में ऑनलाइन पंजीयन सुविधा</h4>
                    </div>
                </div>
                <!--end feature single-->
                <!--start feature single-->
                <div class="col-lg-3 col-md-6">
                    <div class="feature-single text-center">
                        <div class="icon">
                            <img src="~/assets/images/icons/service-4.png" width="100%">
                        </div>
                        <h2 class="theme_color_2 counting font-weight-700" data-count="223">0</h2>
                        <h4>दवाइयों की घर पहुच सेवा </h4>
                    </div>
                </div>
                <!--end feature single-->
            </div>
        </div>
    </section>
    <!--end feature area-->
    <!--start newsletter area-->
    <section class="help_center_list" class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 pr-lg-0">
                    <div class="help_center_list_box">
                        <img class="float-left mt-10" src="~/assets/images/icons/service-5.png" width="70px">
                        <div class="pl-80">
                            <h4>स्वास्थ्य सुविधा प्रदाता की सूचि</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pl-lg-0 pr-lg-0">
                    <div class="help_center_list_box">
                        <img class="float-left mt-10" src="~/assets/images/icons/service-6.png" width="70px">
                        <div class="pl-80">
                            <h4>स्वास्थ्य सुविधा प्रदाता की सूचि</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pl-lg-0">
                    <div class="help_center_list_box">
                        <img class="float-left mt-10" src="~/assets/images/icons/service-7.png" width="70px">
                        <div class="pl-80">
                            <h4>स्वास्थ्य सुविधा प्रदाता की सूचि</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end newsletter area-->
    <!--start faq area-->
    <section id="faq-area">
        <div class="container">
            <div class="row">
                <!--start heading-->
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                    <div class="section-heading text-center">
                        <h2>FAQs</h2>
                    </div>
                </div>
                <!--end heading-->
            </div>
            <!--start faq accordian-->
            <div id="accordion2" role="tablist">
                <div class="row">
                    <div class="col-md-6">
                        <!--start faq single-->
                        <div class="card">
                            <div class="card-header" role="tab" id="faq1">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">How can I buy the watch?</a>
                                </h5>
                            </div>
                            <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="faq1" data-parent="#accordion2">
                                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</div>
                            </div>
                        </div>
                        <!--end faq single-->
                        <!--start faq single-->
                        <div class="card">
                            <div class="card-header" role="tab" id="faq2">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">How can I order the watch?</a>
                                </h5>
                            </div>
                            <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="faq2" data-parent="#accordion2">
                                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</div>
                            </div>
                        </div>
                        <!--end faq single-->
                        <!--start faq single-->
                        <div class="card">
                            <div class="card-header" role="tab" id="faq3">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">How much price of the watch?</a>
                                </h5>
                            </div>
                            <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="faq3" data-parent="#accordion2">
                                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</div>
                            </div>
                        </div>
                        <!--end faq single-->
                        <!--start faq single-->
                        <div class="card">
                            <div class="card-header" role="tab" id="faq4">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">How can I get refund?</a>
                                </h5>
                            </div>
                            <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="faq4" data-parent="#accordion2">
                                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</div>
                            </div>
                        </div>
                        <!--end faq single-->
                    </div>
                    <div class="col-md-6">
                        <!--start faq single-->
                        <div class="card">
                            <div class="card-header" role="tab" id="faq5">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">How can I order the watch?</a>
                                </h5>
                            </div>
                            <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="faq5" data-parent="#accordion2">
                                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</div>
                            </div>
                        </div>
                        <!--end faq single-->
                        <!--start faq single-->
                        <div class="card">
                            <div class="card-header" role="tab" id="faq6">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">How can I buy the watch?</a>
                                </h5>
                            </div>
                            <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="faq6" data-parent="#accordion2">
                                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</div>
                            </div>
                        </div>
                        <!--end faq single-->
                        <!--start faq single-->
                        <div class="card">
                            <div class="card-header" role="tab" id="faq7">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7">How can I get refund?</a>
                                </h5>
                            </div>
                            <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="faq7" data-parent="#accordion2">
                                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</div>
                            </div>
                        </div>
                        <!--end faq single-->
                        <!--start faq single-->
                        <div class="card">
                            <div class="card-header" role="tab" id="faq8">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapse8"> How much price of the watch?</a>
                                </h5>
                            </div>
                            <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="faq8" data-parent="#accordion2">
                                <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</div>
                            </div>
                        </div>
                        <!--end faq single-->
                    </div>
                </div>
            </div>
            <!--end faq accordian-->
        </div>
    </section>
    <!--end faq area-->
    <!--start footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer_logo">
                        <a class="logo" href="#"><h4 class="text-white font-27 font-weight-700">Tele<span class="theme_color_2">Medicine</span></h4></a>
                        <p>तुन्हर हाथ तुन्हर स्वास्थ्य मिलही एक क्लिक म डॉक्टर...</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="">
                        <h5 class="text-white">Usefull Links</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">List</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="">
                        <h5 class="text-white">Services</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">List</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="">
                        <h5 class="text-white">Usefull Links</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">List</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright_footer">
        <div class="container text-center">
            <p class="mb-0 text-white">© Copy 2019. All Rights Reserved</p>
        </div>
    </div>

    <div class="modal fade" id="LogIn_popup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <button type="button" class="close close_LogIn_popup" data-dismiss="modal">&times;</button>
                <div class="home-newsletter text-center mt-0">
                    <h2>लॉगिन करे </h2>
                    <form action="/Patient/Dashboard" method="post" class="mb-10 mt-20">
                        <div class="form-group mb-0 text-left">
                            <label>कृपया अपना मोबाइल नंबर डाले</label>
                            <input type="text" class="form-control">
                        </div>
                        <button class="btn-default btn get_otp_btn">Get OTP</button>
                        <div class="mt-20 text-left">
                            <label>कृपया OTP डाले</label>
                            <div class="form-group Otp_group">
                                <input type="email" class="form-control" placeholder="-">
                                <input type="email" class="form-control" placeholder="-">
                                <input type="email" class="form-control" placeholder="-">
                                <input type="email" class="form-control" placeholder="-">
                                <input type="email" class="form-control" placeholder="-">
                                <input type="email" class="form-control" placeholder="-">
                            </div>
                        </div>
                        <button type="submit">लोगिन करे</button>
                    </form>
                    <div class="row">
                        <div class="col-md-8 text-left">
                            <p class="mb-5"> खाता ना होने पर ? <a href=""> पंजीयन करें </a></p>
                        </div>
                        <div class="col-md-4 text-right">
                            <a href="##" data-dismiss="modal">बंद करें</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!--end footer-->
    <!--jQuery js-->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <!--proper js-->
    <script src="~/assets/js/popper.min.js"></script>
    <!--bootstrap js-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!--magnic popup js-->
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <!--owl carousel js-->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!--scrollIt js-->
    <script src="~/assets/js/scrollIt.min.js"></script>
    <!--validator js-->
    <script src="~/assets/js/validator.min.js"></script>
    <!--contact js-->
    <script src="~/assets/js/contact.js"></script>
    <!--main js-->
    <script src="~/assets/js/custom.js"></script>
</body>


<!-- Mirrored from themehoster.com/tm/premat/demo/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 02 May 2020 01:02:25 GMT -->
</html>
