
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Patientlayout.cshtml";
}


<div class="row">
    @*<div class="col-md-3">
            <div class="card" style="height:100%;">
                <div class="card-header" style="background:#12168E; color:#FFFFFF;">
                    परिवार के सदस्य
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Ram Sharma</li>
                            <li class="list-group-item">Sita Sharma</li>
                            <li class="list-group-item">Laxman Sharma</li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
                        <i class="btn-icon-prepend" data-feather="user-plus"></i>
                        परिवार के सदस्य जोड़ें
                    </a>
                </div>
            </div>
        </div>*@
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background:#12168E; color:#FFFFFF; padding: 6px 0 6px 20px; font-size:14px;">
                अपनी समस्या दर्ज करें
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="form-group">
                        @*<label for="exampleFormControlSelect1">सदस्य का चयन करें</label>*@
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option selected disabled>[-- सदस्य का चयन करें --]</option>
                            <option>Ram Sharma</option>
                            <option>Sita Sharma</option>
                            <option>Laxman Sharma</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @*<label for="exampleFormControlTextarea1">क्या तकलिफ हैआपको ?</label>*@
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="क्या तकलिफ है आपको......"></textarea>
                    </div>
                    <div class="form-group">
                        @*<label for="exampleFormControlSelect1">अपलोड का प्रकार चुनें</label>*@
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option selected disabled>[-- अपलोड के प्रकार का चयन करें --]</option>
                            <option>प्रभावित अंग की फोटो</option>
                            <option>ब्लड रिपोर्ट</option>
                            <option>युरिन रिपोर्ट</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @*<label>File upload</label>*@
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled="" placeholder="फाइल अपलोड करे">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="margin-left:20px;" class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            क्या आप शासकीय फार्मासिस्ट से दवा लेना चाहेंगे ?

                            <i class="input-frame"></i>
                        </label>
                        <label style="margin-left:20px; " class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            क्या आप  शासकीय प्रयोगशालाओं में परीक्षण की सुविधा प्राप्त करना चाहेंगे ?

                            <i class="input-frame"></i>
                        </label>
                    </div>
                    <div class="form-group">
                        
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">फार्म दर्ज करें</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" style="background:#12168E; color:#FFFFFF; padding: 6px 0 6px 20px; font-size:14px;">
                पूर्व मामले
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="form-group">
                        @*<label for="exampleFormControlSelect1">सदस्य का चयन करें</label>*@
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option selected disabled>[-- सदस्य का चयन करें --]</option>
                            <option>Ram Sharma</option>
                            <option>Sita Sharma</option>
                            <option>Laxman Sharma</option>
                        </select>
                    </div>
                    <div class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">1. 05-May-2020 <input type="button" class="btn btn-primary offset-6" value="विवरण" /> </li>
                            <li class="list-group-item">2. 01-May-2020 <input type="button" class="btn btn-primary offset-6" value="विवरण" /></li>
                            <li class="list-group-item">3. 25-Apr-2020 <input type="button" class="btn btn-primary offset-6" value="विवरण" /></li>
                            <li class="list-group-item">4. 25-Apr-2020 <input type="button" class="btn btn-primary offset-6" value="विवरण" /></li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                    <button style="float:right" class="btn btn-default">More..</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">परिवार की सूची</h4>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0" data-toggle="modal" data-target=".bd-example-modal-xl">
            @*<i class="btn-icon-prepend" data-feather="download-cloud"></i>*@
            <i class="btn-icon-prepend" data-feather="user-plus"></i>
            परिवार के सदस्य जोड़ें
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-xl-3">
        <div class="card">
            <div class="card-header" style="background:#12168E; color:#FFFFFF; padding: 6px 0 6px 20px;">
                <b>मरीज़ आई.डी. : PI01</b>
            </div>
            <div class="card-body pt-10">
                <div class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">नाम: राकेश शर्मा</li>
                        <li class="list-group-item">रिश्ता: स्व</li>
                        <li class="list-group-item">जन्म तिथि : 12/05/1994</li>
                        <li class="list-group-item">मोबाइल नंबर : 9977885511</li>
                        <li class="list-group-item">लिंग : पुरुष</li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <div class="card">
            <div class="card-header" style="background:#12168E; color:#FFFFFF; padding: 6px 0 6px 20px;">
                <b>मरीज़ आई.डी. : PI01</b>
            </div>
            <div class="card-body pt-10">
                <div class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">नाम: राकेश शर्मा</li>
                        <li class="list-group-item">रिश्ता: स्व</li>
                        <li class="list-group-item">जन्म तिथि : 12/05/1994</li>
                        <li class="list-group-item">मोबाइल नंबर : 9977885511</li>
                        <li class="list-group-item">लिंग : पुरुष</li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <div class="card">
            <div class="card-header" style="background:#12168E; color:#FFFFFF; padding: 6px 0 6px 20px;">
                <b>मरीज़ आई.डी. : PI01</b>
            </div>
            <div class="card-body pt-10">
                <div class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">नाम: राकेश शर्मा</li>
                        <li class="list-group-item">रिश्ता: स्व</li>
                        <li class="list-group-item">जन्म तिथि : 12/05/1994</li>
                        <li class="list-group-item">मोबाइल नंबर : 9977885511</li>
                        <li class="list-group-item">लिंग : पुरुष</li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <div class="card">
            <div class="card-header" style="background:#12168E; color:#FFFFFF; padding: 6px 0 6px 20px;">
                <b>मरीज़ आई.डी. : PI01</b>
            </div>
            <div class="card-body pt-10">
                <div class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">नाम: राकेश शर्मा</li>
                        <li class="list-group-item">रिश्ता: स्व</li>
                        <li class="list-group-item">जन्म तिथि : 12/05/1994</li>
                        <li class="list-group-item">मोबाइल नंबर : 9977885511</li>
                        <li class="list-group-item">लिंग : पुरुष</li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Extra large modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Extra large modal</button>*@
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title h4" id="myExtraLargeModalLabel">अपने परिवार के सदस्य को जोड़ें।</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">सदस्य जोड़ें</h6>
                                <form>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleInputText1">सदस्य का नाम</label>
                                                <input type="text" class="form-control" id="exampleInputText1" value="" placeholder="Enter Name">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">सदस्य के साथ संबंध</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option selected disabled>[-- संबंध चुनें --]</option>
                                                    <option>पिता</option>
                                                    <option>माता</option>
                                                    <option>भाई</option>
                                                    <option>बहन</option>
                                                    <option>चाचा</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">जन्म तिथि</label>
                                                <div class="input-group date datepicker" id="datePickerExample">
                                                    <input type="text" class="form-control"><span class="input-group-addon"><i data-feather="calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">लिंग</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option selected disabled>[-- लिंग चुनें --]</option>
                                                    <option>पुरुष</option>
                                                    <option>महिला</option>
                                                    <option>अन्य</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">फार्म जमा करें</button>
            </div>
        </div>
    </div>
</div>

