
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_HSPlayout.cshtml";
}

    <h3>Active Cases List</h3>
<br />
<div class="row">


    <div class="col-md-4">
        <div class="panel panel-success cardinr">
            <div class="panel-heading" style="padding: 5px 15px;">
                Case No. : 102 || Date : 02-May 2020
            </div>

            <div class="panel-body">
                <div class="testinrdiv">
                    <div>Patient Name <span>Anil Kumar</span></div>
                    <h3></h3>
                </div>                  
                <div class="testinrdiv">
                    <div>Mobile No. <span>89678-89765</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Age <span>45</span></div>
                </div>
                <div class="testinrdiv">
                    <div>Gender <span>Male</span></div>
                </div>



                <div class="clearfix"></div>
                <div class="panel-problem">
                    <div>Problem</div>
                    <h3>पेट में दर्द  पेट का दर्द IBS अथवा आँत या पेट में जलन जैसे पाचनसंबंधी कारणों से होता है , और मिचली, उल्टी अथवा जुलाब जैसे अन्यलक्षण शामिल हो सकते हैं।</h3>
                </div>

                <button type="button" style="margin-top: 8px;" class="btn btn-default pull-right" data-toggle="modal" data-target=".bd-example-modal-xl"> Assign HSP</button>
                <a href="/HelpDesk/patientAction" style="margin-top: 8px ;float:right;" class="btn btn-default pull-right"> Take Action</a>



            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success cardinr">
            <div class="panel-heading" style="padding: 5px 15px;">
                Case No. : 102 || Date : 02-May 2020
            </div>

            <div class="panel-body">
                <div class="testinrdiv">
                    <div>Patient Name <span>Anil Kumar</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Mobile No. <span>89678-89765</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Age <span>45</span></div>
                </div>
                <div class="testinrdiv">
                    <div>Gender <span>Male</span></div>
                </div>



                <div class="clearfix"></div>
                <div class="panel-problem">
                    <div>Problem</div>
                    <h3>पेट में दर्द  पेट का दर्द IBS अथवा आँत या पेट में जलन जैसे पाचनसंबंधी कारणों से होता है , और मिचली, उल्टी अथवा जुलाब जैसे अन्यलक्षण शामिल हो सकते हैं।</h3>
                </div>

                <button type="button" style="margin-top: 8px;" class="btn btn-default pull-right" data-toggle="modal" data-target=".bd-example-modal-xl"> Assign HSP</button>
                <a href="/HelpDesk/patientAction" style="margin-top: 8px ;float:right;" class="btn btn-default pull-right"> Take Action</a>



            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success cardinr">
            <div class="panel-heading" style="padding: 5px 15px;">
                Case No. : 102 || Date : 02-May 2020
            </div>

            <div class="panel-body">
                <div class="testinrdiv">
                    <div>Patient Name <span>Anil Kumar</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Mobile No. <span>89678-89765</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Age <span>45</span></div>
                </div>
                <div class="testinrdiv">
                    <div>Gender <span>Male</span></div>
                </div>



                <div class="clearfix"></div>
                <div class="panel-problem">
                    <div>Problem</div>
                    <h3>पेट में दर्द  पेट का दर्द IBS अथवा आँत या पेट में जलन जैसे पाचनसंबंधी कारणों से होता है , और मिचली, उल्टी अथवा जुलाब जैसे अन्यलक्षण शामिल हो सकते हैं।</h3>
                </div>

                <button type="button" style="margin-top: 8px;" class="btn btn-default pull-right" data-toggle="modal" data-target=".bd-example-modal-xl"> Assign HSP</button>
                <a href="/HelpDesk/patientAction" style="margin-top: 8px ;float:right;" class="btn btn-default pull-right"> Take Action</a>



            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success cardinr">
            <div class="panel-heading" style="padding: 5px 15px;">
                Case No. : 102 || Date : 02-May 2020
            </div>

            <div class="panel-body">
                <div class="testinrdiv">
                    <div>Patient Name <span>Anil Kumar</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Mobile No. <span>89678-89765</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Age <span>45</span></div>
                </div>
                <div class="testinrdiv">
                    <div>Gender <span>Male</span></div>
                </div>



                <div class="clearfix"></div>
                <div class="panel-problem">
                    <div>Problem</div>
                    <h3>पेट में दर्द  पेट का दर्द IBS अथवा आँत या पेट में जलन जैसे पाचनसंबंधी कारणों से होता है , और मिचली, उल्टी अथवा जुलाब जैसे अन्यलक्षण शामिल हो सकते हैं।</h3>
                </div>

                <button type="button" style="margin-top: 8px;" class="btn btn-default pull-right" data-toggle="modal" data-target=".bd-example-modal-xl"> Assign HSP</button>
                <a href="/HelpDesk/patientAction" style="margin-top: 8px ;float:right;" class="btn btn-default pull-right"> Take Action</a>



            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success cardinr">
            <div class="panel-heading" style="padding: 5px 15px;">
                Case No. : 102 || Date : 02-May 2020
            </div>

            <div class="panel-body">
                <div class="testinrdiv">
                    <div>Patient Name <span>Anil Kumar</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Mobile No. <span>89678-89765</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Age <span>45</span></div>
                </div>
                <div class="testinrdiv">
                    <div>Gender <span>Male</span></div>
                </div>



                <div class="clearfix"></div>
                <div class="panel-problem">
                    <div>Problem</div>
                    <h3>पेट में दर्द  पेट का दर्द IBS अथवा आँत या पेट में जलन जैसे पाचनसंबंधी कारणों से होता है , और मिचली, उल्टी अथवा जुलाब जैसे अन्यलक्षण शामिल हो सकते हैं।</h3>
                </div>

                <button type="button" style="margin-top: 8px;" class="btn btn-default pull-right" data-toggle="modal" data-target=".bd-example-modal-xl"> Assign HSP</button>
                <a href="/HelpDesk/patientAction" style="margin-top: 8px ;float:right;" class="btn btn-default pull-right"> Take Action</a>



            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success cardinr">
            <div class="panel-heading" style="padding: 5px 15px;">
                Case No. : 102 || Date : 02-May 2020
            </div>

            <div class="panel-body">
                <div class="testinrdiv">
                    <div>Patient Name <span>Anil Kumar</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Mobile No. <span>89678-89765</span></div>
                    <h3></h3>
                </div>
                <div class="testinrdiv">
                    <div>Age <span>45</span></div>
                </div>
                <div class="testinrdiv">
                    <div>Gender <span>Male</span></div>
                </div>



                <div class="clearfix"></div>
                <div class="panel-problem">
                    <div>Problem</div>
                    <h3>पेट में दर्द  पेट का दर्द IBS अथवा आँत या पेट में जलन जैसे पाचनसंबंधी कारणों से होता है , और मिचली, उल्टी अथवा जुलाब जैसे अन्यलक्षण शामिल हो सकते हैं।</h3>
                </div>

                <button type="button" style="margin-top: 8px;" class="btn btn-default pull-right" data-toggle="modal" data-target=".bd-example-modal-xl"> Assign HSP</button>
                <a href="/HelpDesk/patientAction" style="margin-top: 8px ;float:right;" class="btn btn-default pull-right"> Take Action</a>



            </div>
        </div>
    </div>

</div>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Doctor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-right">
                <div class="row">
                    <div class="col-md-3">HSP Type : </div>
                    <div class="col-md-9">
                        <select class="form-control">
                            <option>Doctor</option>
                            <option>Mitanin</option>
                            <option>ANM</option>
                            <option>Nurse</option>

                        </select>

                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-3">Name :</div>
                    <div class="col-md-9">
                        <select class="form-control">
                            <option value="0" selected="selected">-select name of HSP--</option>
                            <option value="1">Ahilya Verma  || Villeage pandarbhatta , dharsiwa , Raipur</option>
                            <option value="2">Anita Sen  || Vill- CHikhli, Raipur</option>
                            <option value="3"> Kaushilya Bai  || Villeage Abhanpur , dharsiwa , Raipur</option>
                            <option value="4">Lila Sahu  || Vill- Abhanpur, Raipur</option>
                            <option value="3"> Dr. Sumanta Shekhar Padhi|| Cardiologists || MMI Narayana Multispeciality Hospital, Shyam Nagar, Raipur, Chhattisgarh 492001</option>
                            <option value="4">Dr. Kalpana Dash || Endocrinologist ||  A-22 HIG Sector 1 Shankar Nagar besides Kishor Mall, Apollo Sugar Clinic Raipur, Raipur, Chhattisgarh 492007</option>
                            <option value="5"> Dr Vivian Rahim ||Physician ||  9, Vivekanand Nagar Main Rd, Vivekanand Nagar, Shailendra Nagar, Raipur, Chhattisgarh 492001</option>

                        </select>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">Instructions</div>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="5"></textarea>

                    </div>
                </div>

                <br />
                
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
