
@{
    ViewBag.Title = "generateReport";
    Layout = "~/Views/Shared/_layout.cshtml";
}
 
        <style>
            * {
                box-sizing: border-box;
            }

            html {
                font-family: sans-serif;
            }

            body {
                margin: 0;
                background: #ccc;
            }

            article {
                width: 210mm;
                height: 297mm;
                margin: 20px auto;
                position: relative;
            }

            address {
                position: absolute;
                bottom: 8mm;
                right: 20mm;
            }

            address1 {
                position: center;
                text-align: center;
            }

            h1 {
                position: absolute;
                top: 12mm;
                left: 20mm;
                width: 128px;
                height: 128px;
                font-size: 20px;
                letter-spacing: 1px;
                text-align: center;
                padding: 44px 0;
                color: white;
                text-shadow: 1px 1px 1px black;
            }

            /* for letterhead format */
            article {
                border-top: 20px solid #529ef1;
                border-bottom: 20px solid #529ef1;
                background: no-repeat local, no-repeat 0 100% local, linear-gradient(to bottom, #fff, #fff 20%, #fff 80%, #fff);
            }
        </style>

        <h4>Send To</h4>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Patient
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Lab
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" disabled>Pharmacy
            </label>
        </div>

        <div class="form-check-inline">
            <button type="button" onclick="printDiv('pdf','Title')" class="btn-primary">
                Send and Download PDF
            </button>
        </div>

        @*<div id="pdf">*@
<body>
    <div id="pdf">
        <article>

            <img src="~/Content/rxlogo.JPG" style="position: absolute;top: 12mm;left: 20mm;width: 128px;height: 128px;" />
            

            @*<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #529ef1;position: absolute;top: 12mm;left: 120mm;">Dr. Bhimrao Ambedkar Memorial Hospital</h3>

            <h6 style="font-family: sans-serif;position: absolute;top: 36mm;left: 120mm;font-weight:bold;">Pandari,Raipur- 492001,(C.G)</h6>*@
        <address1>
            @*<h6 style="font-family: sans-serif;position: absolute;top: 41mm;left: 120mm;">Email : bramhospital[at]gmail[dot]com</h6>
        <h6 style="font-family: sans-serif;position: absolute;top: 47mm;left: 120mm;">Phone : 0771-2890113</h6>*@
            <address1>
                <p>

                    Chhattisgarh Telemedicine
                </p>
            </address1>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

            <div class="row">
                <div class="col-md-3 ml-1">
                    <label class="form-group text-blue">Patient Information</label>
                </div>
                <div class="col-md-8">

                </div>

            </div>

            <div class="row ml-3">
                <div class="col-md-2">
                    <label>Patient Name:</label>
                </div>

                <div class="col-md-3">
                    <label>Anil Kumar Mishra</label>
                </div>
                <div class="col-md-1">
                    <label>Gender:</label>
                </div>
                <div class="col-md-1">
                    <label>M</label>
                </div>


                <div class="col-md-1">
                    <label>Age:</label>
                </div>
                <div class="col-md-3">
                    <label>25 yr</label>
                </div>
                <div class="col-md-1">

                </div>
            </div>

            <br />
            <div class="row mr-5">
                <div class="col-md-3 mr-5">
                    <label class="form-group text-blue">DOCTOR'S NOTE</label>
                </div>
                <div class="col-md-8">

                </div>

            </div>
            <div class="container text-justify md-3 ml-4 mr-5">
                <div class="row">

                    <div class="col-md-12">
                        <label>A diabetic 38 years-old man has presented chills and fever with abdominal pain.</label>
                        <label>For the patient full recovery, it is best that the patient to be excused 3-5 days of rest from april 22 </label>
                        <br />
                        <label>to 27, april. </label>

                        <br />
                        <label>The patient is prescribed to take the following medication/s:</label>
                        <br />
                        <label>Anaglesic, 500 mg : once a day</label>
                        <br />
                        <label>Paracetamol, 500 mg : once a day</label>
                        <br />
                        <label>The Patient will be fit to work by April 28,2020.</label>
                    </div>
                </div>
            </div>

            <address>

                <p>
                    <strong>Authorized By:</strong><br>
                    <br />

                </p>

                <p>
                    Dr.Anil Jain, M.D.<br>
                    Medical Physician<br>
                    <br />

                </p>
            </address>
</article>
    </div>
</body>


        <script>
            var doc = new jsPDF();

            function printDiv(divId,
                title) {

                let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');

                mywindow.document.write(`<html><head><title>${title}</title>`);
                mywindow.document.write('</head><body >');
                mywindow.document.write(document.getElementById(divId).innerHTML);
                mywindow.document.write('</body></html>');

                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10*/

                mywindow.print();
                mywindow.close();

                return true;
            }

        </script>
