
@{
    ViewBag.Title = "patientAction";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<h3>Action on Patient</h3>
<br />

<div class="panel panel-success cardinr">
    <div class="panel-heading" style="padding: 5px 15px;">
        Case No. : 102 || Date : 02-May 2020
    </div>

    <div class="panel-body">
        <div class="testinrdiv">
            <div>Patient Name</div>
            <h3>Anil Kumar</h3>
        </div>
        <div class="testinrdiv">
            <div>Mobile No.</div>
            <h3>89678-89765</h3>
        </div>
        <div class="testinrdiv">
            <div>Age</div>
            <h3>45</h3>
        </div>
        <div class="testinrdiv">
            <div>Gender</div>
            <h3>Male</h3>
        </div>



        <div class="clearfix"></div>
        <div class="panel-problem">
            <div>Problem</div>
            <h3>पेट में दर्द  पेट का दर्द IBS अथवा आँत या पेट में जलन जैसे पाचनसंबंधी कारणों से होता है , और मिचली, उल्टी अथवा जुलाब जैसे अन्यलक्षण शामिल हो सकते हैं।</h3>
        </div>

        <p>
            <button class="btn  pull-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i data-feather="image" style="max-height:15px"></i>Photo/Report
            </button>

            <button class="btn  pull-right" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i data-feather="file-text" style="max-height:15px"></i>Medical History
            </button>
            @*<button type="button" style="margin-top: 8px;" class="btn btn-default pull-right">Medical History</button>*@

        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Photo 1
                Report 2

            </div>
        </div>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                Timeline of patient

            </div>
        </div>




        <hr />

        <h5 class="modal-title"></h5><button class="btn  pull-right" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i data-feather="phone-call" style="width:15px"></i>  Call Patient  : 89678-89765
        </button>
        <div class="collapse" id="collapseExample3">
            <div class="card card-body">
                <label>Additional Details</label>
                <textarea rows="4" class="form-control"></textarea>

            </div>
        </div>


        <hr>
        <label>Diagnosis</label>
        <textarea rows="4" class="form-control"></textarea>
        <hr />



        <button type="button" style="margin-top: 8px;" class="btn btn-default pull-right" data-toggle="modal" data-target=".write-prescription"><i data-feather="type" style="max-height:15px"></i>Write Prescription</button>
        <button type="button" style="margin-top: 8px;" class="btn btn-default pull-right" data-toggle="modal" data-target=".send-hsp"><i data-feather="clock" style="max-height:15px"></i>Schedule Appointment</button>

        <button type="button" style="margin-top: 8px;" class="btn btn-default pull-right" data-toggle="modal" data-target=".order-lab-test"><i data-feather="feather" style="max-height:15px"></i>Order Lab Test</button>

        <button type="button" style="margin-top: 8px;" class="btn btn-default pull-right" data-toggle="modal" data-target=".send-ambulance"><i data-feather="alert-circle" style="max-height:15px"></i>Send Ambulance</button>

        <button type="button" id="btnGenerate" style="margin-top: 8px; float:right" class="btn btn-success pull-right"><i data-feather="file-text" style="max-height:15px"></i>Generate & Send Report</button>



    </div>

    <div class="modal fade attachment" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attachment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade write-prescription" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Prescription</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="MediName" value="" placeholder="Enter Medicine Name...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" id="Qty" value="" placeholder="Enter Quantity...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <textarea rows="3" class="form-control" id="Presc" placeholder="Enter Prescription Note..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" style="float:right;" id="addMedi">Add More...</button>
                    </div>

                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Prescription List</h6>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Medicine Name</th>
                                                <th>Quantity</th>
                                                <th>Note</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*Through Jquery*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*<label>Select Pharmacy</label>*@
                    <select class="form-control">
                        <option value="0">--Select Pharmacy--</option>
                        <option value="1">German Homoeo Pharmacy|| Kalibadi Chowk, near District Hospital || 077140 95630</option>
                        <option value="2">CG Pharmacy Council Raipur</option>
                        <option value="3">
                            Jan Aushadhi Store || Shop No.9,Gurudwara Complex,, In Front of AIIMS Hospital, Ward No.13,Tatibandh
                            096444 93021
                        </option>
                        <option value="4">Laxmi Medical Store || Amrit Sandesh Complex, Great Eastern Rd, Opp. Tahsil Office, Moudhapara, Raipur || 072472 10000</option>
                    </select>
                    <br />
                    <textarea rows="3" class="form-control" id="Presc" placeholder="Enter Remark..."></textarea>

                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade send-hsp" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Schedule Appoinment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-right">
                    <div class="row">
                        <div class="col-md-3">HSP Type : </div>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option value="0">--Select Health Service Provider Type--</option>
                                <option value="1">Mitanin</option>
                                <option value="2">ANM</option>
                                <option value="3">Male Health Worker</option>
                                <option value="3">Doctor</option>
                            </select>

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">HSP Name:</div>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option value="0" selected="selected">-select name of HSP--</option>
                                <option value="1"> Radha Yadav || H no 03, Tikrapara Raipur</option>
                                <option value="2">Anita Bai  || H no 109,  Near Pani Tanki Lakhe Nagar, Raipur</option>
                                <option value="3"> Dr. Sumanta Shekhar Padhi|| Cardiologists || MMI Narayana Multispeciality Hospital, Shyam Nagar, Raipur, Chhattisgarh 492001</option>
                                <option value="4">Dr. Kalpana Dash || Endocrinologist ||  A-22 HIG Sector 1 Shankar Nagar besides Kishor Mall, Apollo Sugar Clinic Raipur, Raipur, Chhattisgarh 492007</option>
                                <option value="5"> Dr Vivian Rahim ||Physician ||  9, Vivekanand Nagar Main Rd, Vivekanand Nagar, Shailendra Nagar, Raipur, Chhattisgarh 492001</option>


                            </select>

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">Instructions</div>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="5"></textarea>

                        </div>
                    </div>

                    <br />
                    <div class="row">

                        <div class="col-md-3">Prefer Date :</div>
                        <div class="col-md-3">
                            <div class="d-flex align-items-center flex-wrap text-nowrap">
                                <div class="input-group date datepicker" id="datePickerExample">
                                    <span class="input-group-addon bg-transparent"><i data-feather="calendar" class=" text-primary"></i></span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">Prefer Time :</div>
                        <div class="col-md-3">
                            <div class="d-flex align-items-center flex-wrap text-nowrap">
                                <div class="input-group date timepicker" id="datetimepickerExample" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepickerExample" value="02:20 PM" />
                                    <div class="input-group-append" data-target="#datetimepickerExample" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i data-feather="clock"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade order-lab-test" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Order Lab Test</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="modal-body text-right">

                        <div class="row">
                            <div class="col-md-3">Test Type:</div>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option value="0" selected="selected">--Select Type of Test--</option>
                                    <option>Blood</option>
                                    <option>Urine</option>
                                    <option>X-ray</option>
                                </select>

                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-3">Sub Type :</div>
                            <div class="col-md-9">
                                <select class="form-control">
                                    <option>Sugar</option>
                                    <option>Hemoglobine</option>
                                </select>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">Instruction :</div>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="4"></textarea>

                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade send-ambulance" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ambulance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a href="#" class="btn btn-primary"> <i data-feather="phone-call"></i>  Call 108 </a>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#addMedi").click(function () {
                var sno = 0;
                //sno = parseint(sno)+1;
                var name = $("#MediName").val();
                var qty = $("#Qty").val();
                var note = $("#Presc").val();
                var markup = "<tr><td>" + sno + "</td><td>" + name + "</td><td>" + qty + "</td><td>" + note + "</td></tr>";
                $("table tbody").append(markup);
            });
        });

        
        $(document).ready(function () {
            $('#btnGenerate').click(function (e) {
                window.location.href = '@Url.Content("/HelpDesk/generateReport")';
            });
        });
  
       </script>
}
